 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <p>I know mostly python.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original"></i>
      <i class="devicon-vscode-plain"></i>
      <p>I use github, git and vscode.</p>
    </div>
    <div class="tech">
      <h2>Enviroment</h2>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-bash-plain"></i>
      <p>I use Linux (arch btw). And mostly use a wm(bspwm/i3).</p>
    </div>
</div>
