<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="banner" src="https://i.ibb.co/gzTV52c/Aternos-Boom-Banner.png" />
  </div>
  <div class="contents">
    <h3> AternosBoom! 💣 </h3>
    <ul>
      <li> Fast</li>
      <li> Easy to use</li>
      <li> No bloats like selenium</li>
    </ul>
    <p>AternosBoom! is a small utility for brute-forcing aternos accounts.</p>
    <a class="project-link" href="https://github.com/jwaxy/aternosboom/">Check it out</a>
  </div>
</div>
